[Unit]
Description=INDI Web Manager
After=multi-user.target

[Service]
Type=idle
# MUST SET YOUR USERNAME HERE.
User=tahti
ExecStart=/usr/local/indiweb/venv/bin/indi-web -v
Restart=always
WorkingDirectory=/usr/local/indiweb
Environment="PATH=/usr/local/indiweb/venv/bin"
RestartSec=5

[Install]
WantedBy=multi-user.target
